.col-xs-6 {
    background-color:#de7ff1;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.intro {
    border: 3px solid #f1f1f1;
    padding: 20px;
    text-align: center;
}
.jumbotron {
    padding-top: 20%;
    padding-bottom: 20%;
    background-size: cover;
    background-image: url('./images_for_Jumbotron/IMG_1376.JPG'); 
    color: white;
}
/* Carousel base class */
.carousel {
    height: 750px;
    margin-bottom: 60px;
  } 
  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 750px;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 1000px;
  }